* {
    margin: 0;
    padding: 0;
}

.chat {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    max-width: 480px;
    background-color: #E4C7C7;
    margin: 0 auto;
    & > h1 {
        margin: 0 auto;
    }
    &__list {
        & > li {
            display: flex;
            list-style: none;
        }
        &__message {
            display: inline-flex;
            flex-direction: column;
            max-width: 360px;
            margin: 10px auto 0 10px;
            padding: 10px;
            // border: 1px solid grey;
            border: none;
            border-radius: 25px;
            background-color: #F9F9F9;
            &[data-author="ROBOT"] {
                margin: 10px 10px 0 auto;
            }
            &__author {
                font-weight: bold;
                align-self: flex-end;
            }
            &__text {
                word-break: break-word;
            }
            &__dateTime {
                align-self: flex-end;
                color: grey;
                font-size: 12px;
            }
        }
    }
    &__input {
        display: flex;
        justify-content: center;
        padding: 20px;
        & > input {
            width: 100%;
            border-radius: 25px;
            border: none;
            padding: 0 10px;
            &:focus {
                outline: none;
            }
        }
        & > button {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: none;
            background-color: #F6A48A;
            margin-left: 5px;
        }
    }
}