* {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    padding: 0 10px;
}
.content {
    display: flex;
}
.chats {
    width: 360px;
    margin-right: 20px;
}
.messages {
    width: 100%;
}